* { 
    padding: 0;
    margin: 0;
  }
  
  @font-face { /* introduce font*/
    font-family: monogram;
    src: url(monogram.ttf);
  }

  body { /*background design and default settings*/
    background: rgb(185, 174, 248); /* if can't use gradient*/
    background: content-box radial-gradient(rgb(221, 174, 248), rgb(255, 255, 255));
    font-family: monogram, monospace;
    transition: all .3s;
    min-height: 100vh;
  }

  button { /*default button settings */
    height: fit-content;
    cursor: pointer;
    color: white;
    background-color: rgb(228, 165, 231);
    font-family: inherit;
  }

  #theme { /*theme change icon*/
    font-size: 30px;
    padding: 10px;
    background-color: transparent;
    color: rgba(186, 141, 196, 0.687);
    border: none;
  }

  .dark-theme { /*dark theme background design*/
    background: black; /*if can't use gradient*/
    background: content-box radial-gradient(rgb(221, 174, 248), rgb(0, 0, 0));

  }
  .app { /*default icons and boxes */
    width: 700px;
    margin: auto;
    padding-top: 50px;
    color: white;
  }

  .app h1 { /*title and date*/
    font-size: 3rem;
    width: 700px;
    margin: auto;
    padding-top: 20px;
    color: white;
    text-shadow: 0px 1px 4px rgb(58, 37, 67);
  }

  .input-header { /*default settings of elements date, enter text, enter button*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 10px 0px;
  }
  
  .todo-input { /*formating enter task area and enter button*/
    display: flex;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .todo-input input { /*enter task area*/
    font-size: 1.5rem;
    width: 200px;
    font-family: inherit;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    outline: none;
  }
  
  .todo-input button { /*enter button*/
    font-size: 1.5rem;
    color: white;
    font-family: inherit;
    border: none;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .todo-list {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .todo-list i { /*checkmark button*/
    color: white; 
    cursor: pointer;
  }
  
  .todo-list .fa-pen-to-square { /*edit button*/
    color: white;
  }
  .todo-list button { /* save and cancel button*/
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  .item { /*list box*/
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(226, 172, 237, 0.894);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  .input-controller {
    display: flex;
    gap: 10px;
  }
  
  .input-controller textarea { /*task textbox*/
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    padding-left: 8px;
    color: white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.198);
    text-shadow: 0px 1px 4px rgb(116, 73, 133);
    box-shadow: 0px 0px 4px 1px rgba(181, 98, 188, 0.179);
    font-size: 2rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
  }
  
  textarea:focus { /*textbox glow*/
    box-shadow: 0 0 8px rgb(255, 83, 203);
  }
  
  .edit-controller {
    display: flex;
    gap: 5px;
  }
  
  .update-controller {
    display: none;
  }
  
  @media(max-width: 768px) { /*adjust for smaller screens*/
    .app {
      width: 95%;
      text-align: center;
    }
  
    .input-header {
      flex-direction: column;
      padding-bottom: 20px;
    }
  
    .todo-input {
      display: flex;
    }
  
    .todo-input input {
      width: 300px;
    }
  }